doctype html
html(lang='en')
    head
        title PS3
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 CAS CS411 A4 Group 1
        div.container
            h3 #{info}
