doctype html
html(lang='en')
    head
        title PS6
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 CAS CS400 PS6
        div.container
            h3 #{inDB}
            h3 #{weather}
            h5 #{data}